@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до кінобази!</h1><img src = "https://cdn-icons-png.flaticon.com/512/31/31087.png"/>
    
</div>
